


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
}

header img {
    width: 140px;
    /* border: 1px solid black; */
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    /* border: 1px solid green; */
}

header nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.layout-grid {
    margin: 0 auto;
    width: 1200px;
    height: 100px;
    /* border: 1px solid red; */
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    width: 100%;
    /* height: 400px; */
    border: 2px solid green;
}

.banner img {
    width: 100%;
}

.banner a {
    position: absolute;
    top: calc((50% - 45px / 2) + 300px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 45px;
    background-color: #444444;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
}

.reason-to-use {
    border: 2px solid green;
}

.reason-flex {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.reason-to-use .reason-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    align-items: center;
    /* border: 2px solid red; */
}

.reason-to-use .reason-card .imagem{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
}

.reason-to-use .reason-card h2 {
    text-transform: uppercase;
    text-align: center;
}

.reason-to-use .reason-card p {
    color: #575656;
}